<%- include("header") -%>
<div class="error">
  <div class="box error">
    <p>Oops!</p>
    <p>A list with that title already exists.</p>
    <p>Please <a class="errorAnchor" href="newList">go back</a></p>
  </div>

  <button class="errorButton" type="button" name="button"><a class="errorAnchor" href="newList">Go Back</a></button>

</div>


<%- include("footer") -%>
